#header {
    background-image: url("../images/infinity.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: rgb(246, 248, 250);
    margin-bottom: 0%;
    padding: 5%;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: black;
}

.card-body {
    background-image: url("../images/kings_cross.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.form-group {
    color: rgb(241, 247, 247);
}